
Common/Common/.vs/
Common/Common/bin/
Common/Common/obj/
Services/RedisFetcherService/.vs/
Services/RedisFetcherService/RedisFetcherService/bin/
Services/RedisFetcherService/RedisFetcherService/obj/
Services/RedisFetcherService/packages/
WebAPI/RedisWebApi/.vs/
WebAPI/RedisWebApi/RedisWebApi/bin/
WebAPI/RedisWebApi/RedisWebApi/obj/
WebAPI/RedisWebApi/packages/
UI/RedisUI/.vs/
UI/RedisUI/RedisUI/bin/
UI/RedisUI/RedisUI/obj/
UI/RedisUI/packages/
WebAPI/RedisWebApi/RedisWebApi.Tests/bin/
WebAPI/RedisWebApi/RedisWebApi.Tests/obj/

UI/RedisUI/RedisUI/RedisUI.csproj.user
WebAPI/RedisWebApi/RedisWebApi/RedisWebApi.csproj.user
